i3-config: /home/{{ansible_user_id}}/.config/i3/config
polybar-config: /home/{{ansible_user_id}}/.config/polybar/config
xresources: /home/{{ansible_user_id}}/.Xresources
nitrogen-config: /home/{{ansible_user_id}}/.config/nitrogen/bg-saved.cfg
wallpaper-path: /home/{{ansible_user_id}}/.config/nitrogen/
